[2014-06-05 14:14] arlimus opened #16 "SSH rootkey configuration is too open"
ssh keys for root are supported in the manner that fnichol/chef-user works. However, it has a bug: it pulls in users that aren't active.

We have a choice to make for 1.0 release: Either support ssh root keys fully, with the active users configuration of chef-user, or remove this support entirely.

Adding rootkey configuration in this manner is a 2year-old workaround to configure a server with key

[2014-06-23 21:42] arlimus opened #24 "update ssh service on changes"
currently the ssh service not restarted when changes occur. this must change.

[2014-06-24 17:02] ghost opened #25 "Bad ciphers on debian 7.0"
/etc/ssh/sshd_config line 47: Bad SSH2 cipher spec 'aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes128-ctr,aes256-ctr,aes192-ctr'

/etc/ssh/sshd_config line 53: Bad SSH2 mac spec 'hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-256,hmac-sha2-512,hmac-ripemd160'

ssh -V
OpenSSH_6.0p1 Debian-4+deb7u1, OpenSSL 1.0.1e 11 Feb 2013

[2014-06-24 21:29] #25 closed, assigned to nobody

[2014-07-01 13:30] #24 closed, assigned to nobody

[2014-09-05 13:40] chris-rock opened #37 "Configuration of root keys via databag and attributes"
The current version uses databags only:
https://github.com/TelekomLabs/chef-ssh-hardening/blob/master/recipes/server.rb#L74-L79

We should support databags and attributes and merge the the keys. Simple flags should enable users to deactivate databag or attributes usage.

Thanks @bkw for reporting this.

[2014-10-14 07:43] #37 closed, assigned to nobody

[2014-10-14 09:00] chris-rock opened #53 "Harmonize API"
#49 introduced the separation of client and server config. this is not consistent across all configurations. We need to harmonize the interface while supporting a simple client and server config

[2014-10-14 09:41] chris-rock opened #55 "update tutorial.md"
The tutorial.md is not working anymore. We should update the documentation and demonstrate the interoperability with other cookbooks

[2014-10-23 10:19] rmoriz opened #57 "Protocol 1 options while SSH 2 is hard coded"
Hi,

do we still need https://github.com/TelekomLabs/chef-ssh-hardening/blob/master/templates/default/opensshd.conf.erb#L84 ? Aren't they obsolete because sshd is by default configured to only accept protocol 2 connections?

[2014-10-29 23:06] #57 closed, assigned to nobody

[2014-11-27 14:09] bkw opened #61 "host_key_files should not include ssh_host_ecdsa_key on every host"
centos-6.5 ships with openssh-5.3p1, but ecdsa keys are only supported since 5.7.
This results in an error 'Could not load host key: /etc/ssh/ssh_host_ecdsa_key' in syslog for every login.

We'll probably have to make the values of `host_key_files` distro specific.

[2014-11-27 14:14] #61 closed, assigned to nobody

[2014-12-11 12:06] rmoriz opened #62 "release on supermarket"
Hi,

just discovered the #24 bug when using this cookbook. Looks like there was no release of this cookbook on chef supermarket since June, 24th - any plans to cut a new release?

best

[2015-01-07 17:48] bkw opened #64 "disable sha1-based key exchanges"
Following the very interesting post https://stribika.github.io/2015/01/04/secure-secure-shell.html by @stribika I think it would make sense to at least offer an option to disable sha1-based key exchanges on systems that support better ones.

What do you think?

[2015-01-07 17:51] bkw opened #65 "prohibit use of weak dh moduli"
Another suggestion based on https://stribika.github.io/2015/01/04/secure-secure-shell.html by @stribika.
Quoting the blog post:

I think this would make a nice addition to this cookbook.

Comments?

[2015-01-07 18:07] bkw opened #66 "prefer etm MACs"
Our order of MACS currently is this (on my ubuntu-14.04 system)

* hmac-sha2-512-etm@openssh.com
* hmac-sha2-512
* hmac-sha2-256-etm@openssh.com
* hmac-sha2-256
* umac-128-etm@openssh.com
* hmac-ripemd160-etm@openssh.com
* hmac-ripemd160

https://stribika.github.io/2015/01/04/secure-secure-shell.html by @stribika recommends the following order:

* hmac-sha2-512-etm@openssh.com
* hmac-sha2-256-etm@

[2015-01-07 18:18] bkw commented on #65
Note to self:
[code]

[2015-01-07 21:11] chris-rock commented on #64
@bkw will study this in-depth

[2015-01-07 21:11] chris-rock commented on #66
@atomic111 what do you think?

[2015-01-07 21:14] chris-rock commented on #66
@bkw thank you very much for bringing this up

[2015-01-07 23:31] stribika commented on #66
My reason for saying that is things tend to go wrong when you use primitives for things they were not designed to do. When using EtM you have a *security proof* conditional on the security of the cipher and the MAC.

In case of E&M, we are assuming the MAC doesn't leak anything about the plaintext. *I think* this is true for HMAC, I have no idea about UMAC.

The attack is exploiting the potential

[2015-01-08 00:08] stribika commented on #65
That's sounds good. There is some difference between existing /etc/ssh/moduli and generating it from scratch.

I generate 4096 bit primes only, but the file I had by default had everything between 1024 and 8129 so it will end up containing 2048-8192 bit primes.

[2015-01-08 00:32] stribika commented on #64
Having a strong hash there is what prevents downgrade attacks. The KDF at the end of the key exchange doesn't only take s as input, but also the supported list of algorithms and the basically arbitrary banners. That overview I included is... let's call it simplified.

If you try to downgrade, Alice will end up calculating
k = KDF(s || algo_list_alice || algo_list_nsa1 || banner_alice || banner_nsa

[2015-01-08 14:19] atomic111 commented on #64
yes, this is a good point, but it should be configurable.

2015-01-07 18:48 GMT+01:00 Bernhard Weisshuhn (a.k.a. bernhorst) <
notifications@github.com>:

[2015-01-09 15:29] arlimus commented on #62
Sorry for the delay, Christmas and New Years has a harsh effect on productivity ;)
We are wrapping up a couple of issues ( #64 - #66 ) and will have the release ready. If the issues take longer to resolve, I'll push the update at latest on Monday.
Thanks for posting!

[2015-01-12 10:04] #62 closed

[2015-01-12 10:06] arlimus commented on #62
We'll improve version updates in the future. Sorry it took so long.

[2015-01-12 10:10] arlimus commented on #66
@bkw Thanks for bringing this up!
@stribika Thank you for your great blog post! It helped a lot in getting the hang of EtM.

We've been discussion the new mac priority since last week. It should be update this week, if all goes well.

[2015-01-12 10:12] arlimus commented on #64
@bkw Thanks again for bringing this up :)
@stribika Thank you for your insights!

We'll add it to code this week.

[2015-01-13 19:37] mkonecny opened #69 "Suggestion: Don't populate /root/.ssh/authorized_keys by default"
When `@node['ssh']['allow_root_with_key'] == false` (default) we set `PermitRootLogin no` in opensshd.conf.

In this case, we should not touch `/root/.ssh/authorized_keys` as well.

[2015-01-14 07:07] mkonecny commented on #69
I see that working with remote "authorized_keys" is now deprecated, and so this issue is irrelevant. Closing.

[2015-01-14 07:07] #69 closed

[2015-01-14 09:11] chris-rock commented on #69
@mkonecny Thanky you very much anyway. In case you find anything, please report it. This will enable us to improve the cookbooks to the specific needs

[2015-01-14 16:05] #66 closed

[2015-01-14 16:05] #64 closed

[2015-01-14 21:59] arlimus commented on #66
inclued in chef-ssh-hardening v1.0.3

[2015-01-14 21:59] arlimus commented on #64
inclued in chef-ssh-hardening v1.0.3

[2015-01-14 22:53] arlimus commented on #65
Thank you @bkw for pointing this out, much appreciated!
Also thank you @stribika for your insights!
This one is still in the pipeline but should make it into the next release.

[2015-02-06 09:04] #55 closed

[2015-04-09 15:15] Rockstar04 opened #75 "Allow management of allow/deny users"
The sshd template has a commented out section to explicitly allow and deny groups and I would love to be able to manage these with chef.

https://github.com/TelekomLabs/chef-ssh-hardening/blob/master/templates/default/opensshd.conf.erb#L121-L125

Would this be within the scope of this cookbook or should I override the template in a wrapper cookbook? This seems like it would be fairly simple to imp

[2015-04-09 15:17] chris-rock commented on #75
@Rockstar04 great idea and a pull request is welcome

[2015-04-09 16:29] Rockstar04 commented on #75
Closed in favor of pull request #76

[2015-04-09 16:29] #75 closed

[2015-04-21 09:04] chris-rock opened #77 "Debian 8.0 (Jessie) ships with OpenSSH 6.7p1, enable modern algos"
as done with hardening-io/puppet-ssh-hardening/pull/44 we should enable the better ciphers for debian 8

[2015-04-27 11:19] aried3r opened #79 "UseDNS no"
Hey!

I'm suffering from very slow SSH logins (15-20 seconds), caused by `UseDNS yes`. I wondered what the security implications would be if I sent a PR enabling the cookbook user to define `yes` or `no` themselves. I couldn't quite find detailed information about the `UseDNS` option besides [this StackExchange post](http://unix.stackexchange.com/a/56947).

In the meantime, I'll prep a PR and awai

[2015-04-27 11:28] chris-rock commented on #79
This change is welcome. Please add this, but ensure that the default keeps the same.

[2015-04-27 12:18] #79 closed

[2015-04-27 12:30] chris-rock opened #81 "Use new "UseDNS" openssh default"
For reference: http://www.openssh.com/txt/release-6.8

Was raised via #80

[2015-04-27 13:35] #81 closed

[2015-04-27 19:38] chris-rock opened #85 "Wrong detection of os version number on debian 8"
As already detected with hardening-io/puppet-ssh-hardening/issues/48 debian 8 does not return its version number with `cat /etc/debian_version`

Therefore the installation of the ssh modules does not produce the expected output:

[code]

[2015-04-27 20:07] chris-rock opened #87 "refactor library kex and cipher implementation"
- better structure
- easier to upgrade ciphers to new os
- reduce robocop abc metric

[2015-04-27 20:07] chris-rock commented on #87
should revert #86

[2015-04-27 20:45] #77 closed

[2015-04-29 21:26] itwasntandy opened #89 "Why not wrap openssh cookbook"
Hi,

I like what you're trying to do here, but I've a couple of questions with regard to the approach.

As it stands this cookbook is incompatible with the openssh-cookbook as it tries to change the same files.
( https://github.com/opscode-cookbooks/openssh )

It would seem sensible to me for this to be a wrapper around openssh-cookbook which sets sensible, secure defaults
Did you consider this as

[2015-04-29 22:24] Rockstar04 commented on #89
I was going to suggest the same thing after I made a proof of concept, I have actually had to override the current template to change some options that are hard-coded in the existing template.

I like the way the opscode cookbook handles the config files and it should give us all the flexibility to set our hardening options.

[2015-04-30 10:47] arlimus commented on #89
@itwasntandy and @Rockstar04 Thanks for binging up this question. As you may have recognized, the ssh module is the only chef module that is not implemented as an overlay module.

Back when we started this, we took an in-depth look into the openssh cookbook, but finally decided to go with a standalone implementation. Some reasons are:

- no clear separation between client and server
- tight-in ipt

[2015-04-30 10:56] chris-rock commented on #89
I agree that our ssh and sshd templates are not as flexible as they should be ;-)

[2015-05-08 16:41] arlimus commented on #89
We have talked to Chef and will try to update the chef ssh cookbook. If all goes well, we can use it as the new base cookbook and use the same overlay style we have in place for e.g. mysql.

[2015-06-03 15:42] pkuczynski opened #93 "Default value for ['ssh']['allow_tcp_forwarding'] breaks Chef Zero"
The default value for `['ssh']['allow_tcp_forwarding'] = false` breaks Chef with error message:

`ERROR: Net::SSH::Exceptionremote forwarding request failed`

(I am using knife-zero but that should not make a difference here)

[2015-07-25 00:28] michaelklishin opened #94 "Consider using blank config_disclaimer by default"
It currently says

[code]

I'm not sure what Pinerolo is but surely it won't make much sense to most users. Consider dropping the disclaimer or at least having it blank by default.

[2015-07-25 09:42] chris-rock commented on #94
pinerolo is a codename from the early days. you're right, we should replace it with `Hardening Framework (hardening.io)`

[2015-07-26 01:52] elyscape opened #96 "UsePAM should probably default to yes on Red Hat Linux 7"
From the `sshd_config` file on a CentOS 7 box:

[code]

As such, it's probably a good idea to default `default['ssh']['use_pam']` to `true` on RedHat 7.

This warning isn't in the CentOS 6 `sshd_config` file, but there is [an article in the Red Hat 6 knowledgebase about not being able to SSH into a system if UsePAM is off and SELinux is on](https://access.redhat.com/solutions/46137).  I don't have

[2015-07-26 02:13] michaelklishin commented on #96
I've seen this (the inability to ssh in with use_pam = false) with Debian-based distributions, too.

[2015-07-26 09:29] chris-rock commented on #96
Thanks @elyscape and @michaelklishin  We've scheduled RHEL7 support for the next weeks.

@michaelklishin Especially with Ubuntu cloud machines, you normally run into locked accounts: https://github.com/hardening-io/chef-ssh-hardening#faq--pitfalls In such cases, use_pam works around this.

[2015-07-26 09:29] chris-rock commented on #96
@artem-sidorenko FYI

[2015-07-27 12:33] #94 closed

[2015-08-07 20:09] michaelklishin commented on #96
@chris-rock I'm pretty sure my account was not locked. So was a decision made on making this default to `true` at laest on RHEL7 and Ubuntu/Debian?

[2015-08-07 20:57] chris-rock commented on #96
let me double-check, do you have any documentation that indicates usepam is required on rhel7

[2015-08-07 22:59] elyscape commented on #96
@chris-rock: As mentioned in the issue, the `sshd_config` file on EL7-based systems contains the following comment above the `UsePAM` option:
[code]

[2015-08-08 06:10] chris-rock commented on #96
thanks @elyscape Then we should make it default on RHEL7

[2015-08-08 14:36] artem-sidorenko commented on #96
I guess its not only RHEL7 related, I remember some discussion with RH about 3-4 years ago about this flag (and about SUID bits).
I do not know all details any more, but we decided to go with `UsePAM no` (and with SUID bit removal) as there were no particular technical reasons (at least for our deployments), but only a question about supported configuration by RH.
(As far as I remember the trade o

[2015-08-08 14:45] artem-sidorenko commented on #96
Probably its a good idea to change the default options to a supported config to avoid any issues in general. In deployments like we have, the users will have to take care about this option and change the defaults. But in my eyes it makes sense to keep the support for `UsePAM no` and to keep/extend the test cases for both scenarios if possible

[2015-08-08 18:31] chris-rock commented on #96
We could switch to UsePam yes on all RHEL systems to meet the default supported way.

[2015-08-08 18:33] rndmh3ro commented on #96
As per [this](https://github.com/hardening-io/ansible-ssh-hardening/issues/23#issuecomment-128985597) post.

The workaround mentioned by RedHat is:
The workaround would be to create an additional policy that allow sshd to read password file directly

We could create that policy and add it to selinux, when use_pam is off and selinux is on.
Does this happen on all OS's?

[2015-08-08 18:41] chris-rock commented on #96
Maybe it is a good a approach to implement the idea @rndmh3ro mentioned to keep usePam=no as default for this cookbook version.
@artem-sidorenko @arlimus @atomic111 what do you think about changing the default for usePam to yes on our next major release? I'd like to keep a consistent approach for all OSes.

[2015-08-08 19:02] artem-sidorenko commented on #96
@chris-rock I think its a good approach
- to keep usepam=no and the described selinux idea in this cookbook version
- to go to usepam=yes in the next major version to have consistency, here I would suggest to take the selinux idea and to provide support for usepam=no (to allow transitions and upgrades and not to break it completely)

FYI:
On Monday I'll take a look to our Hardening&RHEL7 eval note

[2015-08-10 09:48] artem-sidorenko commented on #96
[code]
So, we had exactly this issue as well:)

[2015-08-12 06:17] chris-rock commented on #96
Thanks for the great discussion. Lets make usePam=yes the default version for all implementations. We should bump a major though and add a proper no implementation for RedHat as suggested by @rndmh3ro

[2015-09-16 23:57] patcon opened #99 "x11 forwarding should be configurable like tcp and agent forwarding"
Seems that the concern is similar for tcp and agent, and yet they are configurable.

If I am the only user on my server, and I'm choosing to trust it for agent forwarding, x11 forwarding should not compromise my local system to any greater degree, correct?

[2015-09-28 13:55] runningman84 opened #100 "Allow to configure MaxAuthTries"
We would like to configure MaxAuthTries to a custom value. If you use a ssh-agent with multiple keys, the default value might be too low.

[2015-09-29 08:28] chris-rock commented on #100
We are happy to accept PRs that make this value configurable.

[2015-10-02 23:43] sumitgoelpw opened #101 "ERROR: Role ssh (included by 'top level') is in the runlist but does not exist"
I am getting following error while performing the local test from my OS X 10.10.5. Please help.

[code]

I have uploaded the logs and command output here,

https://drive.google.com/open?id=0BzkL_tJDwPj7NnNuOFZQNS1ETDA

https://drive.google.com/open?id=0BzkL_tJDwPj7ZzM2M3FObV9KSjA

I am using following versions,

Chef Development Kit Version: 0.8.0
chef-client version: 12.4.3
berks version: 3.3.0
k

[2015-10-03 12:55] chris-rock commented on #101
Hi @linaksa thanks for your request. We do not provide a `role[ssh]`, instead just add a `recipe[ssh-hardening]` to your runlist. That should do the trick.

[2015-10-05 21:38] linaksa commented on #101
Thank you @chris-rock

That works but is there a reason .kitchen.yml is configured with role instead with recipe?

Also, the test failed on Oracle Linux 6.4 box but following workaround worked,

https://github.com/chef-cookbooks/yum-epel/issues/16

[2015-10-06 09:15] chris-rock commented on #101
HI @linaksa I apologize, I didn't know you run our tests. The role is included in our tests https://github.com/hardening-io/tests-ssh-hardening/ and we share the same tests across all implementations. You need to fetch those test first via `bundle exec thor kitchen:fetch-remote-tests`

The full workflow as described in our [readme](https://github.com/hardening-io/chef-ssh-hardening/blob/master/REA

[2015-10-06 09:18] chris-rock commented on #101
Regarding the oracle tests: Would you like to create a PR for Oracle linux?

[2016-01-14 18:14] elijah opened #109 "default to 'UseRoaming no'"
Because of the security issue divulged today, a hardened ssh client config should really have 'UseRoaming no' set.  Undocumented option before today, but it seems to be the only 'fix' that people have promoted that doesn't involve a recompile.

[2016-02-03 11:21] jmara opened #110 "SFTP not configurable"
Hi there,

is it worth creating a PR to enable/adjust the SFTP settings?

Cheers,
Jan

[2016-02-03 12:23] atomic111 commented on #110
Hi Jan,
thanks for bringing this up. Yes please create a PR to enable and configure the sftp for this. Some ideas about the configuration of sftp. I would configure sftp in such a way. What do you think?

[code]
So that we can configure the matching group, the ChrootDirectory, AllowAgentForwarding and so on.

[2016-02-03 13:20] jmara commented on #110
Hi Patrick,

I've checked the puppet and ansible ssh-hardening and it looks like only Ansible takes care of the STFP stuff and adds capabilities to Enable and change ChrootDirectory for sftp.

I think the configuration should aswell include Group like you suggested, but I'm currently unsure if its a good security practice to allow the change of the other options like AllowAgentForwarding, PermitRo

[2016-02-06 08:46] atomic111 commented on #110
Hi Jan,
i total agree with you. May be i have expressed myself wrong. Recently i had a customer request to allow forwarding and so on for the other users and not allowing this for the sftponly group.

So just create your pull request. thanks

[2016-02-10 23:28] elijah commented on #109
Resolved by commit  18a65282df173b040b73f25dbaa8f990a4acc671

[2016-02-10 23:28] #109 closed

[2016-02-10 23:31] elijah commented on #100
Should be resolved / can be closed - see commit 66e7ebfd11dc696f5ba56e8e17b10c92f6eeb23b

[2016-02-12 22:48] boldandbusted commented on #96
:+1: :)

[2016-02-16 20:26] #110 closed

[2016-03-03 11:36] vjeffrey opened #113 "Failures when running kitchen test with tests-compliance-ssh profile"
Failures take place on ubuntu 15, centos 66, centos 67, oracle 66, oracle 67, debian 6, and debian 8.

https://chefio.slack.com/files/vj/F0Q0224LB/ubuntu-15_fail.txt
https://chefio.slack.com/files/vj/F0PVD99EG/centos-66_fail.txt
https://chefio.slack.com/files/vj/F0Q086RLZ/oracle-66_fail.txt
https://chefio.slack.com/files/vj/F0Q06V88P/oracle-67_fail.txt
https://chefio.slack.com/files/vj/F0Q02RG84/d

[2016-03-04 13:37] jrake-revelant commented on #113
Your files are behind a login :( Can you provide them via e.g. publics gists?

Cheers

[2016-05-06 18:12] lcc2207 opened #116 "Make LoginGraceTime configurable"
To allow for longer timeouts with LDAP configured make LoginGraceTime configurable  via attributes

[2016-05-10 16:07] chris-rock opened #117 "configure log level"

[2016-10-05 08:02] acucu opened #125 "Allow to configure ChallengeResponseAuthentication (currently it's hardcoded to no)"
We need to be able to change the ChallengeResponseAuthentication value to yes - for enabling 2FA auth.

Would it be possible to make this property configurable, please?

[2016-11-08 12:09] artem-sidorenko commented on #117
@chris-rock any details?:-) Log level of sshd?

[2016-11-08 12:15] artem-sidorenko commented on #113
@vjeffrey I'm closing this as there is no response. Feel free to reopen if the problem is still present

[2016-11-08 12:15] #113 closed

[2016-11-08 12:16] #100 closed

[2016-11-08 12:17] artem-sidorenko commented on #93
@pkuczynski sorry for missing reaction. I'm closing this in order to cleanup the issues a bit. Feel free to reopen if the problem is still present

[2016-11-08 12:17] #93 closed

[2016-11-08 12:34] artem-sidorenko opened #133 "Release 2.0.0"
As you probably noticed, after some years of inactivity, I finally have time for such things:)

I would like to get the chef part of dev-sec into the "active maintained" state. So I started with ssh-hardening part.

I already created a 2.0.0 milestone and assigned some issues with breaking changes. I will cleanup/resolve all other issues without breaking changes for 1.3.0 release.

This issue is t

[2016-11-08 12:47] artem-sidorenko commented on #85
@chris-rock on the current bento box, I get the proper version

[code]

All tests are also running fine. So I'm closing this, feel free to reopen of needed

[2016-11-08 12:47] #85 closed

[2016-11-08 13:43] artem-sidorenko commented on #101
@sumitgoelpw I'm closing this issue as there was no activity for a long time. Feel free to reopen it if the problem is still present

[2016-11-08 13:43] #101 closed

[2016-11-08 14:12] artem-sidorenko commented on #87
@chris-rock I guess we differentiate [here](https://github.com/dev-sec/chef-ssh-hardening/blob/master/libraries/get_ssh_ciphers.rb#L30-L36) between different OpenSSH versions. What about not to use the OS detection, but to use the openssh version in order to determine the supported ciphers?

We [know](https://github.com/dev-sec/chef-ssh-hardening/blob/master/attributes/default.rb) the package name

[2016-11-08 17:02] chris-rock commented on #133
@artem-sidorenko I am happy to do reviews and I am also happy to give you access to push released to supermarket

[2016-11-09 06:43] atomic111 commented on #133
@artem-sidorenko i will also review and help you with the update

[2016-11-09 06:44] #125 closed

[2016-11-10 12:55] artem-sidorenko commented on #117
me and @atomic111 agreed to push everything besides #132 to the 2.0.0, so I'm changing the milestone

[2016-11-10 12:55] artem-sidorenko commented on #87
me and @atomic111 agreed to push everything besides #132 to the 2.0.0, so I'm changing the milestone

[2016-11-10 12:55] artem-sidorenko commented on #65
me and @atomic111 agreed to push everything besides #132 to the 2.0.0, so I'm changing the milestone

[2016-11-10 12:58] artem-sidorenko opened #135 "Release 1.3.0"
Me and @atomic111 agreed today to include the #132 in the 1.3.0. Everything else will go to the 2.0.0 (#133).

The plan is to wait another week for feedback on #132. If there is no feedback, to merge it as-is and to release 1.3.0.

[2016-11-10 18:47] artem-sidorenko opened #136 "Move UsePrivilegeSeparation.get to the new library"
PR #134 implements the new library in order to have easier maintenance. UsePrivielegeSeparation should be moved to this new library.

[2016-11-10 18:49] artem-sidorenko opened #137 "Move entire crypto parameter configuration in tests to the centralized place"
in order to easy update/extend the tests, similar to the library implemented in #134

[2016-11-11 10:54] artem-sidorenko commented on #135
@atomic111 it makes sense to have #138 prior to 1.3.0. Currently we do not have any supported distro information on supermarket

[2016-11-11 19:00] chris-rock commented on #135
@artem-sidorenko @atomic111 I like that approach

[2016-11-15 11:35] #116 closed

[2016-11-17 11:08] artem-sidorenko commented on #135
@atomic111 I see you tagged the 1.3.0, but its not on the supermarket yet. Are there any troubles? Can I help somehow?

[2016-11-17 13:40] artem-sidorenko commented on #133
@chris-rock @arlimus can you maybe add me as collaborator on the supermarket for hardening cookbooks?

[2016-11-23 18:44] artem-sidorenko commented on #135
I pushed 1.3.0 to the supermarked and updated the releases page here

[2016-11-23 18:44] #135 closed

[2016-12-03 13:15] artem-sidorenko opened #140 "IPv6 is not working still if its enabled"
The default listen value blocks listening of sshd on IPv6 interfaces:

[code]

This default should react on the IPv6 setting and allow listening on IPv6 too

[2016-12-04 22:07] chris-rock commented on #140
Thanks @artem-sidorenko that is a great idea

[2016-12-14 07:13] #87 closed

[2016-12-14 07:21] artem-sidorenko commented on #137
Closed by #134

[2016-12-14 07:21] #137 closed

[2016-12-14 07:22] artem-sidorenko commented on #136
Closed by #134

[2016-12-14 07:22] #136 closed

[2016-12-14 08:01] artem-sidorenko opened #142 "Attributes should be in the own namespace ssh-hardening"
Similar to the os-hardening namespace change in https://github.com/dev-sec/chef-os-hardening/pull/116 and https://github.com/dev-sec/chef-os-hardening/pull/114

[2016-12-14 08:02] artem-sidorenko commented on #142
@chris-rock @atomic111 any objections?

[2016-12-17 11:49] artem-sidorenko commented on #89
I had a look to the README of the current state of openssh cookbook. It looks like you can set all options of ssh client/server, so it looks feasible to give it a try. @arlimus @chris-rock @atomic111 opinions?

[2016-12-17 18:48] artem-sidorenko commented on #140
Question to the handling of such defaults, which depend on another attribute with a default value.

In chef-os-hardening a problem like this its solved like:

[code]

The attribute files are loaded by chef in the run list order prior to the compilation of recipes. So basically in this implementation we do have only one way to change the `['network']['ipv6']['enable']` to true and `['ssh']['listen_

[2016-12-19 12:02] #16 closed

[2016-12-19 13:00] #142 closed

[2016-12-22 13:43] chris-rock commented on #89
@artem-sidorenko Sounds like a good plan. Should we plan this for version 3?

[2016-12-23 10:31] #53 closed

[2017-01-03 17:31] #140 closed

[2017-01-04 19:51] rjhornsby commented on #140
To save someone else the head scratching that I went through, this issue's changes mean that if you need to set the `listen_to` ipaddress attribute, you'll need to use `override` not `default` in your attribute file, like so:

[code]

This addresses the CIS and chef base/ssh compliance finding that sshd should not be listening to `0.0.0.0`

[2017-01-04 20:12] artem-sidorenko commented on #140
@rjhornsby I [added](https://github.com/dev-sec/chef-ssh-hardening/pull/148/files#diff-04c6e90faac2675aa89e2176d2eec7d8R68) a notice on the `override vs default`. Is there something wrong with it? Do you think it makes sense to have this example in the README?

Its the common use case, but I do not think its a good idea to make it the default this way. It might break the ssh access to the box if `

[2017-01-04 20:31] rjhornsby commented on #140
I think it might help to have the example in the readme, or maybe some way to call out which attributes are set in recipes and must use `override[]`?

I'm relatively new to Chef (~3 months), coming over from Puppet. I thought I read somewhere that using `default[]` in an attribute file was almost always correct, so I was not understanding why setting `listen_to` wasn't working until I tried `overr

[2017-01-04 21:56] artem-sidorenko commented on #140
yeah, this was exactly the point of  @atomic111 in the review of #148 :) However I personally do not like this idea: this adds another documentation layer and usually such things get unmaintained very fast and are often not up-to-date. What about to have a short hint on the attribute itself? Like this:

[code]

I see both things quite often (and you also have force_default etc). I see default[] as

[2017-01-04 22:01] rjhornsby commented on #140
+1, I like it.

[2017-01-05 21:45] artem-sidorenko opened #158 "Error message about DSA key on RHEL 7"
I see following messages in the logs of RHEL 7 systems with applied ssh-hardening:

[code]

@atomic111 @chris-rock can we completely drop the support of DSA host key? (to remove the dsa key option from the `host_key_files` array)

[2017-01-12 09:14] #96 closed

[2017-01-12 09:16] artem-sidorenko commented on #158
@atomic111 ping

[2017-01-12 10:28] atomic111 commented on #158
@artem-sidorenko from the security point of view DSA is secure and more complex to crack it as RSA. So i would still keep this. the problem is, that the DSA Host key is not created. maybe we add a function to create the host keys

[2017-01-12 21:14] artem-sidorenko commented on #158
@atomic111 what do you think about [this analyses and explanations](http://security.stackexchange.com/questions/112802/why-openssh-deprecated-dsa-keys/112818#112818)?

[2017-01-12 21:23] artem-sidorenko commented on #158
and here another peace: https://www.gentoo.org/support/news-items/2015-08-13-openssh-weak-keys.html

Bettercrypto also do not have DSA keys (see [here, page 23](https://bettercrypto.org/static/applied-crypto-hardening.pdf).

And [here is the important reference](https://bugzilla.mindrot.org/show_bug.cgi?id=1647) to the openssh upstream on this topic.

As I understand, one of the key points is DSA

[2017-01-13 09:00] #117 closed

[2017-01-13 09:13] atomic111 commented on #158
@artem-sidorenko ok the Problem is not the algorithem, it is the key length. because it is more complex to solve the discrete log problem then facturing. http://digitalassets.lib.berkeley.edu/techreports/ucb/text/CSD-84-186.pdf

Ok, we have no possibility to increase the key size, then we have to remove it. I agree

[2017-01-13 16:08] mikemoate opened #160 "Possibly missing locale handling"
I will freely admit my knowledge of locale in Linux is limited, hopefully others are more knowledgeable :-S

Whilst investigating some locale issues on our Ubuntu servers (14.04) I noticed that the ssh_config and sshd_config created by this cookbook lack the settings for sending and accepting locale, which differs from the default ubuntu/debian behaviour.

Specifically, sshd_config on debian would

[2017-01-14 10:27] artem-sidorenko commented on #160
@mikemoate thank you for raising this question,

from my POV we can add the accept_env and send_env attributes, however I'm not sure how the defaults should look like

[code]

It looks like `LANG LC_* LANGUAGE` should be the proper default option here. What do you think?

@atomic111 @chris-rock opinions?

[2017-01-14 11:43] artem-sidorenko opened #162 "Verify the current crypto settings"
@bazbremner raised this point in the GH-141 and myself and @atomic111 had this topic also in some phone call in the last days

So we should check following things:
- [kex, macs, ciphers](https://github.com/dev-sec/chef-ssh-hardening/blob/244ff5f13e583c141140926b5188bab2bbb5caaf/libraries/devsec_ssh.rb#L46-L67)
- used algorithms for public key authentication - currently we use RSA and ECDSA, DSA is

[2017-01-16 14:38] mikemoate commented on #160
I agree with your suggestion, and am happy to work up a PR for that, but will wait for other experts to give their opinions.

[2017-01-18 15:54] #158 closed

[2017-01-18 17:07] #65 closed

[2017-01-24 13:49] atomic111 commented on #162
@artem-sidorenko no update of ciphers, macs and kexs needed. but we have to update the ssh host keys according to the list in https://github.com/dev-sec/ssh-baseline/pull/76

[2017-01-24 18:15] artem-sidorenko commented on #162
@atomic111 Ok, I'll provide a PR in the next days

[2017-01-24 18:15] artem-sidorenko commented on #162
thanks:)

[2017-01-24 18:21] artem-sidorenko opened #165 "Support MacOS X"
It looks we have tests for it: https://github.com/dev-sec/ssh-baseline/pull/75

[2017-01-26 22:41] artem-sidorenko commented on #160
@mikemoate I think you can just start to work on the PR:) `man locale` is the best expert regarding this topic and `LANG LC_* LANGUAGE` sound totally reasonable for my 16 years of unix experience with different locale setups (english/german/russian)

[2017-01-27 11:08] mikemoate commented on #160
@artem-sidorenko OK, I wasn't sure if you intended for me to wait for the other's you had mentioned in your comment to reply?

I'll try and get something together in the next few days. Any thoughts on testing this?

[2017-01-27 11:20] artem-sidorenko commented on #160
@mikemoate

I asked them if they have any opinion, if they would have anything to say here: we would already see a response (at least this is my experience) :)

I would just do unit tests, something like in GH-155

[2017-01-27 11:22] chris-rock commented on #160
We could also set the values on ubuntu only, therefore we would not set the values if the attribute is nil

[2017-01-27 11:26] artem-sidorenko commented on #160
@chris-rock there is a similar issue on RHEL/centos too. I think we should stick here with a default distro configuration, which is to accept/send the locale settings, otherwise can make unexpected troubles. But we should allow to disable it

P.S. was my comment a wakeup call?:D

[2017-01-27 11:57] chris-rock commented on #160
I was not sleeping @artem-sidorenko :-) All good, sounds reasonable.

[2017-02-02 12:01] #160 closed

[2017-02-05 22:35] #162 closed

[2017-02-06 08:33] artem-sidorenko commented on #133
2.0.0 is ready so far, I'm creating the changelog and would tag the master. After this I'll start to write the release notes in the blog and would upload 2.0.0 to supermarket after the blogpost is online

[2017-02-06 08:33] #133 closed

[2017-02-27 12:48] chris-rock opened #170 "Suse support missing in metadata"
I just figured that suse/opensuse support is missing in https://github.com/dev-sec/chef-ssh-hardening/blob/master/metadata.rb#L26-L31

[2017-02-27 12:57] artem-sidorenko commented on #170
I'll have a look

[2017-02-28 18:10] #170 closed

[2017-04-11 11:57] artem-sidorenko opened #174 "Chef 13 support"
It would be cool if we would validate chef 12 and chef 13 in the CI

[2017-05-13 13:03] artem-sidorenko opened #177 "Issues on OpenSuse Leap 42.2"
OpenSuse Leap 42.2 gets only a small set of ciphers configured, it looks like something goes wrong with ssh package discovery.

https://travis-ci.org/dev-sec/chef-ssh-hardening/jobs/231856578

[2017-05-15 10:31] artem-sidorenko commented on #177
in our travis docker runs openssh-server gets installed during the chef run. Autodiscovery via openssh package version is not possible because of that -> we guess the openssh version. This leads to this minimal set of ciphers and crypto settings. GH-176 should fix this issue via added defaults for opensuse leap 42.2

[2017-05-16 11:19] #174 closed

[2017-05-16 11:19] artem-sidorenko commented on #177
resolved by #176

[2017-05-16 11:19] #177 closed

[2017-08-15 16:44] jonasduarte opened #180 "The cookbooks fails on Amazon Linux."
Guys,

Since ohai v13.0.0, the attribute "platform_family" for Amazon Linux retrieves "amazon", instead of "rhel", therefore the cookbook is failing.

To get it fixed, I add the value "amazon" to the code block below, on the default attribute file.

############################################################

# Define the service name for sshd
case node['platform_family']
when 'rhel', 'fedora', '

[2017-08-15 19:31] jonasduarte commented on #180
@chris-rock just did. I hope it helps.

Best,

[2017-08-16 12:15] artem-sidorenko commented on #180
Resolved via #181

[2017-08-16 12:15] #180 closed

[2017-10-24 15:24] daften opened #182 "allowtcpforwarding with sftp enabled is declared twice"
In the template https://github.com/dev-sec/chef-ssh-hardening/blob/master/templates/default/opensshd.conf.erb if you look for allowtcpforwarding, if you enable sftp, it would be declared twice with the hardcoded value overriding the one you set

[2017-10-24 19:27] artem-sidorenko commented on #182
@daften thanks for raising this issue! You are right, `AllowTcpForwarding` is present in the sftp section by the end of file. From my understanding of sshd man page, the second option is part of the `Match` block. So it applies only to the sftp group, but not to the global section. Do I get something wrong here?

[2017-10-27 12:24] daften commented on #182
You are very correct @artem-sidorenko . I missed that, highlighting for files in my IDE isn't as great as i thought it seems. Thanks for the feedback.

[2017-10-27 12:24] #182 closed

[2017-11-23 22:21] atomic111 opened #185 "remove ripemd from MAC list"
i think we have to remove the ripemd from the MAC list

https://github.com/dev-sec/ssh-baseline/issues/93

[2017-11-24 13:05] #185 closed

[2018-02-16 10:49] shoekstra commented on #89
Hi,

I have been thinking this for a while and thought I'd open an issue but see one has already been open for a while.

Currently I have both openssh and this cookbook managing config which isn't great.

Are you open to accepting a PR these days to wrap openssh where possible?  I think it would be helpful for many who are already using it and want the hardening without any additional hassle.

Ste

[2018-02-16 12:02] artem-sidorenko commented on #89
@shoekstra definitely! This would be a great contribution!

[2018-04-09 13:29] rreilly-edr opened #190 "Cookbook not matching Controls"
Hi, was not sure if i needed to open this here or on the ssh-baseline repo but i guess I will start here.
I have applied this cookbook to a node with no extra attributes outside of
`default['ssh-hardening']['ssh']['server']['client_alive_interval'] = 600`
but When I run the controls against the node I get a failure on ssh-03 and ssh-10
[code]

Not sure how to resolv this.
thanks !
rob

[2018-04-09 21:25] artem-sidorenko commented on #190
@rreilly-edr thanks for raising this issue! May I ask you for some futher details, like used distribution and its version?

[2018-04-09 21:30] rreilly-edr commented on #190
Yes of course!
ubuntu 16.04
chef-client 13.5.3

[2018-04-17 16:16] artem-sidorenko commented on #190
@rreilly-edr I can not reproduce it:( Can you maybe tell me the cookbook version and baseline version/commit you are using?

[2018-04-17 16:37] rreilly-edr commented on #190
[code]

``
Versions
2.3.1
[code]

[2018-07-14 23:35] florian-asche opened #195 "Errors on Ubuntu 18.04"
Hello,

I am using the latest version on Ubuntu 18.04.
`cookbook 'ssh-hardening', '~> 2.3.1'`

[code]

[code]

[2018-07-16 08:19] artem-sidorenko commented on #195
@florian-asche thanks for this issue! Is this related to the #194 ?

[2018-07-16 18:10] florian-asche commented on #195
yes, it is.

[2018-07-30 12:52] frederikbosch commented on #195
See [the PR I created in the SSH baseline repo](https://github.com/dev-sec/ssh-baseline/pull/108). I am also looking for Ubuntu 18.04 support. Hopefully that will help to get some green lights.

[2018-08-01 07:41] artem-sidorenko commented on #190
@rreilly-edr sorry for a late response, I was on a parental leave for several months.

I can't really reproduce it, do you still observe this issue?

[code]

[2018-08-01 12:05] #195 closed

[2018-08-01 13:53] rreilly-edr commented on #190
I will take a look as soon as I can and report back. Thanks!

[2018-10-05 11:34] rediculum opened #199 "Change log level for SFTP Subsystem"
This attribute is missing in order to define another log level of the sftp subsystem (default is VERBOSE)

[2018-10-05 12:33] chris-rock commented on #199
@rediculum would you like to add a PR to make it happen?

[2018-10-06 16:36] rediculum commented on #199
Done
PR #200

[2018-10-08 17:18] artem-sidorenko commented on #199
Resolved via #200

[2018-10-08 17:18] #199 closed

[2018-10-08 19:26] rediculum commented on #199
Do you have an estimation when you release a new version including this?

[2018-10-10 06:47] artem-sidorenko commented on #199
@rediculum 2.5.0 is released

[2018-10-15 12:16] artem-sidorenko opened #202 "Removal of deprecated options"
On ubuntu-18.04 with version 2.5.0:

[code]

[2018-10-18 18:12] #202 closed

[2018-10-18 18:18] artem-sidorenko commented on #190
@rreilly-edr I'm closing this issue as it wasn't possible to reproduce it. Feel free to reopen if needed

[2018-10-18 18:18] #190 closed

[2018-11-20 09:18] artem-sidorenko opened #209 "Support for custom configuration (port from ansible)"
**Is your feature request related to a problem? Please describe.**
https://github.com/dev-sec/ansible-ssh-hardening/issues/175

**Describe the solution you'd like**
https://github.com/dev-sec/ansible-ssh-hardening/pull/199

[2018-11-20 13:04] artem-sidorenko opened #210 "Introduce cookstyle and upgrade rubocop"
We are not using [cookstyle](
https://docs.chef.io/cookstyle.htm) yet, we should introduce it to our CI runs and upgrade rubocop to the newer version.

[2018-11-21 18:33] bobchaos commented on #89
You should consider releasing sample roles/policies as opposed to a wrapper cookbook. Just my 2 cents

[2018-11-21 20:00] artem-sidorenko commented on #89
@bobchaos can you elaborate a bit? The idea isn't completely clear for me

[2019-03-20 19:40] artem-sidorenko opened #215 "check the sshd config before sshd restart"
- https://github.com/dev-sec/ansible-ssh-hardening/blob/f0cbcc5536a46aa11a40c5c6f31c07fe006cd95c/tasks/hardening.yml#L38
-
https://github.com/dev-sec/ansible-ssh-hardening/issues/209#issuecomment-474736262

We should check the sanity of sshd config before we restart sshd

[2019-03-22 22:23] fmietka commented on #215
Hello,

I am attempting to utilize this in one of my cookbooks and am failing during an sshd restart. My issue is the same as: https://github.com/TalkingQuickly/rails-server-template/issues/11

That issue is from 2014 but maybe it has something to do with the version of Ubuntu I am using (18.04). Here is the error:
"
Recipe: ssh-hardening::server
         * service[sshd] action restart

[2019-03-25 09:42] artem-sidorenko commented on #215
@fmietka after this failure, can you invoke `journalctl -u sshd´ and check the output? Usually this is related to some syntax error within ssh configuration options. Did you set any custom attributes?

[2019-03-25 21:14] fmietka commented on #215
Hi @artem-sidorenko, since the cookbook fails on ssh-hardening, I actually can't ssh into the box at all and run that command unfortunately. Here are the attributes we are defining in our default.rb:

default['ssh-hardening']['ssh']['server']['mac']
default['ssh-hardening']['ssh']['server']['cipher']
default['ssh-hardening']['ssh']['server']['extras']

When I comment them out then the cookbook wor

[2019-03-25 21:30] artem-sidorenko commented on #215
@fmietka if you open the ssh session prior to the deployment, you still should be able to have/keep access. sshd restart applied only to the new sessions and the old sshd forked processes keep running till the end.

Regarding the defaults: they depend on the openssh version and distro, you can have a look to https://github.com/dev-sec/chef-ssh-hardening/blob/master/libraries/devsec_ssh.rb , this l

[2019-03-25 21:59] fmietka commented on #215
@artem-sidorenko so I used the defaults for mac and cipher and it converged successfully. When I ran a "journalctl -u sshd" it did not find any entries. However when I ran a "journalctl -u ssh" it returned my user request to ssh into the box. Was the "journalctl -u sshd" supposed to have " ---No Entries---"?

Additioanlly we are setting this attribute which i believe is causing the confusion above

[2019-03-26 15:22] artem-sidorenko commented on #215
@fmietka my bad, the service name on ubuntu is `ssh`. So everything looks good. Your problem is related to the ciphers/macs, some syntax error or not supported configuration

[2019-03-27 15:44] fmietka commented on #215
@artem-sidorenko Thank you sir, I appreciate the help!

[2019-05-08 17:55] sean-nixon opened #216 "Allow configuration of multiple SFTP groups"
**Is your feature request related to a problem? Please describe.**
I am trying to reproduce an SFTP config with multiple groups with distinct configurations (chroot, AuthorizedKeysFile, etc.). We have a use case where we want org level users to have chroot set to the full ftp directory and "guest" users to use a sub-directory associated with their user. Right now the cookbook only supports a singl

[2019-05-09 06:38] chris-rock commented on #216
@sean-nixon It sounds right to me to add support for deeper sftp configuration. As you suggested, we should keep it backwards compatible. Any PRs to make it happen are welcome.

[2019-07-17 10:07] artem-sidorenko commented on #209
we already have this feature via `extras` attributes within client and server attribute trees.

[2019-07-17 10:07] #209 closed

[2019-11-25 03:22] thirumoorthir opened #224 "Trello board not unable to access it"
it is not a coding problem, please check this link https://ibb.co/5FmmL7Y

[2019-11-25 06:32] chris-rock commented on #224
Oh shoot, we need to update those guidelines, we migrate the trello board to our github project https://github.com/orgs/dev-sec/projects. For contributions, have a look at https://github.com/orgs/dev-sec/projects/2

[2019-11-25 07:38] thirumoorthir commented on #224
Let me change that and submit an PR

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christoph Hartmann <notifications@github.com>
Sent: Monday, November 25, 2019 12:02:34 PM
To: dev-sec/chef-ssh-hardening <chef-ssh-hardening@noreply.github.com>
Cc: Thirumoorthi R <thirumoorthi.r@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [dev-sec/chef-ssh-

[2019-11-25 11:25] #224 closed

[2019-11-25 15:27] thirumoorthir opened #226 "Trello board not unable to access it"
it is not a coding problem, please check this link https://ibb.co/5FmmL7Y

[2019-11-28 00:18] iennae commented on #226
This looks like a duplicate issue to https://github.com/dev-sec/chef-ssh-hardening/issues/224

[2019-12-04 19:10] iennae commented on #226
Oh I just realized that I can close this never mind. @thirumoorthir as this looks like it's a duplicate, I'm going to close this.

[2019-12-04 19:10] #226 closed

[2019-12-04 19:10] chris-rock commented on #226
Trello is also outdated, we use github projects now

[2020-02-11 02:36] astral303 opened #228 "Amazon Linux 1 support regressed"
**Describe the bug**
SSH hardening regressed on Amazon Linux 1, no package `policycoreutils-python-utils` exists.

**Expected behavior**
Cookbook completes w/o error.

**Actual behavior**

[code]

**OS / Environment**

Amazon Linux 1, AMI name `amzn-ami-hvm-2018.03.0.20191219.0-x86_64-gp2`

**Chef Version**

[code]

**Cookbook Version**

[code]

**Additional context**
I believe the regression was

[2021-01-30 18:11] djessich opened #232 "Allow configuration of SyslogFacility in sshd_config"
**Is your feature request related to a problem? Please describe.**
On CentOS 7 there is no syslog facility named `AUTH` available by default causing all logging to be redirected to `/var/log/messages`. CentOS 7 defines facility `AUTHPRIV` that references `/var/log/secure`, but it cannot be configured using this cookbook.

**Describe the solution you'd like**
Please add node attribute to allow conf

[2021-02-04 07:04] vishmit123 opened #233 "policycoreutils-python-utils not a valid package for rhel/fedora. v2.9.0"
# Define the package name for selinux utils
if node['platform_family'] == 'fedora' || # rubocop:disable Style/ConditionalAssignment
   node['platform_family'] == 'rhel' && node['platform_version'].to_f >= 8
  default['ssh-hardening']['selinux']['package'] = 'policycoreutils-python-utils'
else
  default['ssh-hardening']['selinux']['package'] = 'policycoreutils-python'
end

[2021-02-04 15:22] vishmit123 commented on #228
facing the same issue with v2.9.0. policycoreutils-python-utils is not a valid yum package for rhel or fedora based Linux images.

[2021-09-07 05:26] infertux opened #236 "Add support for Debian 11 "bullseye""
**Is your feature request related to a problem? Please describe.**

The test specs from [ssh-baseline](https://github.com/dev-sec/ssh-baseline) are failing with Debian 11 because this repo is missing the logic for handling Debian 11 and the `ssh-baseline` repo is partially implementing it.

**Describe the solution you'd like**

Being able to use this repo on Debian 11 with the default attributes.

[2021-09-07 05:31] infertux commented on #236
https://github.com/dev-sec/ssh-baseline/pull/172 added support for openssh 8.X KEXs but it's missing the new ciphers and MACs.

[2022-02-14 21:20] zedtux opened #240 "Allow setting a different port for the client and the server"
**Is your feature request related to a problem? Please describe.**
I have changed the `ports` attribute in order to avoid attackers to find it to easily but this cookbook change both the server and client config.
This makes any commands, depending on ssh, to use the server port as client so that a `git ls-remote` command fails because of the client `Port` config which isn't 22 anymore.

**Describe